* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 150%;
  font-family: ocre-sans;
}

body {
  font-family: ocre-sans;
  font-weight: 200;
  font-style: normal;
}

main {
    margin-top: 2.5rem;
    min-height: 100vh;
    min-height: calc(100vh - 2.5rem);
    height: 100%;
}