.btn {
    font-weight: $custom_btn-font-weight;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, transform .15s ease-in-out;
    &:hover {
        cursor: pointer;
    }
}

.btn-group-lg > .btn, .btn-lg {
    padding: .75rem 2rem;
    font-size: .83333333333rem;//20px
    line-height: 1.5rem;
    border-radius: 2px;
}

.btn-primary {
    color: $branco;
    background-color: $rosa;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: $rosa-claro;
    border-color: transparent;
    box-shadow: 0px .3333333333rem .5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}