// Custom GC Typography

@include complete-font-face($suhmo);
@include basic-font-face($ocre);

@mixin titulo-1 {
    font-family: ocre-poster-sans;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-variant: all-small-caps;
    @include media-breakpoint-up(lg) {
    	font-size: 2.5rem; // 60px
        line-height: 3rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

@mixin titulo-2 {
	font-family: ocre-poster-sans;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-variant: all-small-caps;
    @include media-breakpoint-up(lg) {
        font-size: 2rem; // 48px
        line-height: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

@mixin titulo-3 {
	font-family: ocre-poster-sans;
    font-size: 1.3333333333rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-variant: all-small-caps;
    @include media-breakpoint-up(lg) {
        font-size: 1.5rem; // 36px
        line-height: 2rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

@mixin titulo-4 {
	font-family: ocre-poster-sans;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-variant: all-small-caps;
    @include media-breakpoint-up(lg) {
        font-size: 1.3333333333rem; // 32px
        line-height: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

@mixin titulo-5 {
	font-family: ocre-sans;
    font-size: .91666666666666rem; // 22px
    line-height: 1.25rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-variant: all-small-caps;
    letter-spacing: 0;
    word-spacing: 0;
}

@mixin texto-grande {
	font-family: ocre-sans;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
    margin-bottom: .5rem;
    @include media-breakpoint-up(lg) {
        font-size: 1.3333333333rem; // 32px
        line-height: 2rem;
        font-weight: 100;
        margin-bottom: .5rem;
    }
}

@mixin texto-medio {
	font-size: 0.6666666666rem;
    line-height: 1rem;
    font-weight: 100;
    margin-bottom: .5rem;
    font-family: ocre-sans;
    @include media-breakpoint-up(lg) {
        font-size: .91666666666666rem; // 22px
        line-height: 1.5rem;
    }
}

@mixin texto-pequeno {
	font-size: 0.6666666666rem; // 16px
	line-height: 1rem;
	font-weight: 100;
	margin-bottom: .5rem;
	font-family: ocre-sans;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1, .h1 { @include titulo-1; }

h2, .h2 { @include titulo-2; }

h3, .h3 { @include titulo-3; }

h4, .h4 { @include titulo-4; }

h5, .h5 { @include titulo-5; }

p, .texto-medio { @include texto-medio; }

.texto-pequeno { @include texto-pequeno; }

blockquote, .texto-grande { @include texto-grande; }

figcaption, li, input, textarea { @include texto-pequeno; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: $azul;
	&:first-child {
    	margin-top: 0
    }
}

h1, .h1 {
	text-align: center;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-align: left;
}

blockquote, figcaption { 
	font-style: italic;
	text-align: center;
}

figure {
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
