// Variables
//

//
// Color system
//

// cores do #GC
$branco: #fff;
$rosa: #e31c79;
$rosa-claro: #e6377e;
$azul: #002855;
$cinza-claro: #fafafa;
$cinza: #d8d8d8;
$cinza-escuro: #646464;

$custom_primary:       $azul !default;
$custom_secondary:     $rosa !default;

// Custom widths for custom containers
$container-fluid-widths: (
  sm: 100%,
  md: 91.6666666666%,
  lg: 83.3333333333%,
  xl: 80%
) !default;

// Grid columns
//
// Specify the width of the gutters.
$custom_grid-gutter-width:           .5rem;

// Components
//
// Define common border radius sizes.
$custom_border-radius:               .083333333333rem;
$custom_border-radius-lg:            .083333333333rem;
$custom_border-radius-sm:            .083333333333rem;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$custom_font-family-sans-serif:      ocre-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$custom_font-size-base:              .6666666666rem;
$custom_font-weight-light:           100;
$custom_font-weight-normal:          200;
$custom_font-weight-bold:            400;

// Forms
//
$custom_input-color:                           $white ;
$custom_input-focus-border-color:              $rosa;

// Navbar
//
$custom_navbar-padding-y:                  0;
$custom_navbar-padding-x:                  ($grid-gutter-width / 2);