//Custom GC font maps

$suhmo: (
    suhmo: (
        normal: ( normal, bold ),
        italic: ( normal, bold )
    ),
    suhmo-sc: (
        normal: ( normal, bold ),
        italic: ( normal, bold )
    )
);

$ocre: (
    ocre-sans: (
        normal: ( 100, 200, 300, 400 ),
        italic: ( 100, 200, 300, 400 )
    ),
    ocre-poster-sans: ( 
        normal,
        italic 
    ),
    ocre-poster-sans-swashes: ( 
        null 
    )
);

$model: (
    font-1: (
        style-1: ( weight-1, weight-2 ),
        style-2: ( weight-1, weight-2 )
    ),
    font-2: ( //if one or more styles doesn't have different weights:
        style-1,
        style-2
    ),
    font-3: ( //if the font doesn't have any variants:
        null
    )
);