footer {
    #formulario-contato {
        padding-top: $component-mobile-margin-bottom;
        border-bottom: 1px solid $cinza;
        background-color: $azul;
        @include media-breakpoint-up(lg) {
            padding-top: $component-desktop-margin-bottom;
        }
        h1 {
            color: $branco;
            margin-bottom: 2rem;
            text-align: center;
        }
        form {
            margin-bottom: $component-mobile-margin-bottom;
           @include media-breakpoint-up(lg) {
                margin-bottom: $component-desktop-margin-bottom;
            }
        }
    }
    #contatos {
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color: $azul;
        ul {
            list-style-type: none;
            li {
                margin-top: .5rem;
                color: $branco;
                &:first-child {
                    margin-top: 0;
                }
                a {
                    font-style: italic;
                    color: $branco;
                }
            }
        }
        address {
            ul {
                margin-bottom: 0;
                text-align: center;
                padding-bottom: 1rem;
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                    border-left: 1px solid $cinza;
                    border-bottom: 0;
                    padding-left: 1rem;
                    text-align: left;
                    padding-bottom: 0;
                }
            }
            hr {
                width: calc(#{100% / 3} + #{2*$grid-gutter-width/3});
                margin-top: 0;
                margin-bottom: 1rem;
                margin-left: auto;
                margin-right: auto;
                border-top: 1px solid $cinza;
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
            }
        }
        .midias {
            ul {
                text-align: center;
                @include media-breakpoint-up(md) {
                    text-align: right;
                }
                li {
                    display: inline-flex;
                    margin-left: .5rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    svg, img {
                        fill: $branco;
                        width: 100%;
                        transform: translateY(0);
                        transition: fill .1s linear, transform .1s ease-in-out;
                        &:hover {
                            fill: $rosa;
                            //transform: translateY(-.125rem);
                        }
                    }
                }
            }
        }
    }
}