#tipografia {
    padding-bottom: $component-mobile-margin-bottom;
    padding-top: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-bottom: $component-desktop-margin-bottom;
        padding-top: $component-desktop-margin-bottom;
    }
}

.alternativas {
    > * {
        position: relative;
        .alt-marcador {
            position: absolute;
            top: .5rem;
            right: .5rem;
            height: 1rem;
            width: 1rem;
            border-radius: .5rem;
            background-color: #000;
            text-align: center;
            color: #fff;
            font-weight: 100;
            font-variant: all-small-caps;
            transition: all .1s ease-in-out;
            opacity: 0;
            transform: translateY(.5rem);
        }
    }
    &:hover {
        .alt-marcador {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
