#tipografia {
    padding-bottom: $component-mobile-margin-bottom;
    padding-top: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-bottom: $component-desktop-margin-bottom;
        padding-top: $component-desktop-margin-bottom;
    }
}