#capa-trabalhos {
    background-color: $azul;
    padding-top: $component-mobile-margin-bottom;
    padding-bottom: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-top: $component-desktop-margin-bottom;
        padding-bottom: $component-desktop-margin-bottom;
    }
    blockquote {
        color: $rosa;
        text-align: left;
        font-variant: unset;
        font-style: normal;
        @include media-breakpoint-up(lg) {
            text-align: center;
        }
    }      
}

#filtros {
    padding-top: 0;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(lg) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        margin-bottom: 0;
        li {
            margin-left: 1rem;
        }
        li, a {
            text-decoration: none;
            display: inline-block;
            color: $cinza-escuro;
            cursor: pointer;
            margin-bottom: 0;
            transition: color .1s linear;
            position: relative;
            &:first-child {
                margin-left: 0;
            }
            &.is-checked {
                font-weight: 400;
                color: $rosa;
            }
            @include media-breakpoint-up(lg) {
                &::after {
                    content: '';
                    width: 0;
                    position: absolute;
                    height: 1px;
                    background-color: $rosa;
                    bottom: -.125rem;
                    left: 0;
                    transition: width .1s ease;
                }
                &:hover {
                    &::after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        height: 1px;
                        background-color: $rosa;
                        bottom: -.125rem;
                        left: 0;
                        transition: width .1s ease;
                    }
                }
            }
        }
    }
    .dropdown {
        width: 100%;
        height: 2rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        .dropdown-toggle {
            width: 100%;
            height: 2rem;
            text-align: left;
            border: none;
            padding-left: 1rem;
            padding-right: 1rem;
            color: $azul;
            background-color: $branco;
            .filtro-aplicado, .chamada-filtro {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 2*$grid-gutter-width;
                line-height: 2rem;
                transition: opacity .25s linear;
                &.show {
                    opacity: 1;
                    transition: opacity .25s linear .5s;
                }
            }
            &::after {
                display: inline-block;
                position: absolute;
                width: 0;
                right: 1rem;
                top: 0.875rem;
                line-height: 2rem;
                margin-left: 0.255em;
                margin-top: auto;
                margin-bottom: auto;
                content: "";
                border-top: 0.25rem solid;
                border-right: 0.25rem solid transparent;
                border-bottom: 0;
                border-left: 0.25rem solid transparent;
            }
        }
        .dropdown-menu {
            width: 100%;
            transform: translate3d(0px, 0px, 0px) !important;
            top: 2rem !important;
            border: none;
            margin: 0;
            box-shadow: none;
            border-top: 1px solid transparent;
            z-index: 2;
            padding: 0;
            transition: height .25s ease-in-out .25s, border-top .15s linear, box-shadow .1s linear .75s, opacity 1s linear .5s;
            display: flex;
            height: 0;
            flex-flow: row wrap;
            pointer-events: none;
            @include border-radius(0 0 $border-radius $border-radius);
            &.show {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                border-top: 1px solid $cinza;
                pointer-events: all;
                transition: height .5s ease-in-out .25s, border-top .15s linear .75s, box-shadow .25s linear, opacity 0s linear;
                .dropdown-item {
                    opacity: 1;
                    transition: opacity .15s linear .75s;
                }
            }
            .dropdown-item {
                opacity: 0;
                width: 50%;
                margin: 0;
                text-align: center;
                line-height: 3rem;
                font-variant: all-small-caps;
                font-weight: 100;
                border-bottom: 1px solid $cinza-claro;
                border-right: 1px solid $cinza-claro;
                padding: 0;
                transition: opacity .15s linear;
                &.is-checked {
                    font-weight: 400;
                }
                &:active {
                    color: $branco;
                    background-color: $rosa;
                }
            }
        }
    }
}

#galeria {
    padding-bottom: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-bottom: $component-desktop-margin-bottom;
    }
    .nome {
        margin-bottom: 1rem;
        background-color: $rosa;
    }
    .descricao {
        font-style: italic;
        color: $azul;
        padding-bottom: $component-mobile-margin-bottom * 0.75;
        @include media-breakpoint-up(lg) {
            padding-bottom: $component-desktop-margin-bottom;
        }
        p {
            border-left: 1px solid $rosa;
            padding-right: 1rem;
            padding-left: 1rem;
            @include media-breakpoint-up(lg) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }
        }
    }
    .mais-projetos {
	    margin-top: $component-mobile-margin-bottom/2;
        @include media-breakpoint-up(lg) {
            margin-top: $component-desktop-margin-bottom/2;
        }
	}
}

.thumb-projeto {
    position: relative;
    a {
        display: block;
        padding-bottom: 100%;
        background-color: $azul;
        border-radius: .125rem;
        box-shadow: 0 2px 0.5rem 0 rgba($azul, 0.2);
        background-position: center;
        background-size: cover;
        margin-bottom: 1rem;
        position: relative;
        @include media-breakpoint-up(lg) {
            margin-bottom: .5rem;
        }
        .conteudo {
            pointer-events: none;
            border-radius: 0 0 .125rem .125rem;
            opacity: 1;
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: $grid-gutter-width;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            transition: opacity .1s linear;
            @include media-breakpoint-down(md) {
                background-image: linear-gradient(to bottom, rgba($branco, 1), rgba($branco, 1)) !important;
            }
            @include media-breakpoint-up(lg) {
                text-align: center;
                justify-content: center;
                align-items: center;
                opacity: 0;
                padding: 2 * $grid-gutter-width;
                height: 100%;
            }
            .titulo, p {
                text-align: left;
                @include media-breakpoint-up(lg) {
                     text-align: center;
                }
            }
            .titulo {
                margin-bottom: .5rem;
                margin-top: 0;
                @include media-breakpoint-up(lg) {
                     text-align: center;
                     color: $branco;
                }
            }
            .categorias {
                width: 100%;
                hr {
                    width: 100%;
                    border-bottom: 1px solid $branco;
                    margin-left: auto;
                    margin-right: auto;
                    opacity: .5;
                    border-width: 1px;
                    @include media-breakpoint-up(lg) {
                        width: 33.3333%;
                        border-width: 2px;
                    }
                }
                p {
                    display: inline-flex;
                    flex-wrap: wrap;
                    letter-spacing: .5px;
                    line-height: 1rem;
                    margin-bottom: 0;
                    word-spacing: .125rem;
                    font-weight: 100;
                    color: $azul;
                    @include media-breakpoint-up(lg) {
                        padding-left: .5rem;
                        padding-right: .5rem;
                        justify-content: center;
                        color: $branco;
                    }
                }
            }
        }
    }
    &:hover {
        a {
            cursor: pointer;
            //background-color: $rosa;
            //background-image: none !important;
        }
        .conteudo {
            opacity: 1;
        }
    }
    &.destaque {
        a {
            @include media-breakpoint-up(sm) {
              padding-bottom: 100%;
            }
            @include media-breakpoint-up(md) {
              padding-bottom: calc(50% - #{$grid-gutter-width/2});
            }
            @include media-breakpoint-up(lg) {
              padding-bottom: calc(33.333% - #{$grid-gutter-width*2/3});
            }
            .conteudo {
                .titulo {
                    margin-top: 0;
                }
                hr {
                    width: 100%;
                    @include media-breakpoint-up(lg) {
                        width: calc(33.3333% + #{$grid-gutter-width/2});
                    }
                }
            }
        }
    }
    &.relacionado {
        a {
            padding-bottom: 60%;
        }
    }
}

#clientes {
    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }
    background-color: $cinza-claro;
    padding-top: 3rem;
    padding-bottom: 2rem;
    .cliente {
        margin-bottom: 3rem;
        img {
            width: 100%;
        }
    }
}