@mixin componente {
    padding-bottom: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-bottom: $component-desktop-margin-bottom;
    }
}

@mixin subcomponente {
    margin-bottom: 0;
}

#capa-projeto {
    width: 100vw;
    height: 100vw;
    position: relative;
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 2.5rem);
    }
    .parallax-background {
        //background-attachment: fixed;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

//Componentes
#projeto {
    
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
        letter-spacing: 0;
        word-spacing: 0;
        font-variant: unset;
        color: $preto;
    }

    box-shadow: 0 0 3rem 3rem rgba($azul, 0.15);
    margin-top: 0;
    padding-top: $component-mobile-margin-bottom;
    @include media-breakpoint-up(lg) {
        padding-top: $component-desktop-margin-bottom;
    }
    position: relative;
    
    // Primeiro registro de cada componente
    .titulo, .subtitulo, .paragrafo, 
    .intro-projeto, .img-subtitulo-paragrafo, .comentario, .video-cheio, 
    .img-cheia, .img-grande, .img-media, .img-pequena, .estampa, 
    .mosaico-duplo, .mosaico-triplo, .carrossel, .fonte
     { 
        @include componente; 
        .subtitulo, .paragrafo {
            padding-bottom: 0;
        }
    }

    .subtitulo, .paragrafo {
        h2, p {
            margin-bottom: 0;
        }
    }
    
    // Para quando um componente de parágrafo vier seguido a outro elemento de texto (título ou parágrafo)
    .titulo + .paragrafo, .subtitulo + .paragrafo, .paragrafo + .paragrafo {
        margin-top: #{ 1rem - $component-mobile-margin-bottom };
        @include media-breakpoint-up(lg) {
            margin-top: #{ 1rem - $component-desktop-margin-bottom };
        }
    }
    
    .intro-projeto {
        p { 
            text-align: center;
            margin-bottom: 0;
        }
    }
    
    // Componentes que tem a tag img
    .img-cheia, .img-grande, .img-media, .img-pequena, .img-subtitulo-paragrafo, .video-cheio {
        img, video {
            width: 100%;
            height: 100%;
        }
    }

    .img-cheia, .estampa, .video-cheio {
        &.no-gutter.no-margin-bottom {
            padding-bottom: 0;
            &:last-child {
                padding-bottom: $component-mobile-margin-bottom;
                @include media-breakpoint-up(lg) {
                    padding-bottom: $component-desktop-margin-bottom;
                }
            }
        }
    }

    //Componentes que têm legenda
    .img-cheia, .img-grande, .img-media, .video-cheio, .img-pequena, .img-subtitulo-paragrafo, 
    .estampa, .mosaico-duplo, .mosaico-triplo {
        figcaption { margin-top: 1rem; }
    }
    
    //Mosaicos
    .mosaico-duplo, .mosaico-triplo {
        &.quadrado { 
            figure { 
                padding-bottom: 100%; 
            } 
        }
        &.paisagem { 
            figure { 
                padding-bottom: 60%; 
            } 
        }
        &.retrato { 
            figure { 
                padding-bottom: 166.6666%; 
            } 
        }
        &.no-gutter {
            .img {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
            }
            &.no-margin-bottom {
                padding-bottom: 0;
                &:last-child {
                    padding-bottom: $component-mobile-margin-bottom;
                    @include media-breakpoint-up(lg) {
                        padding-bottom: $component-desktop-margin-bottom;
                    }
                }
            }
        }

        .img {
            height: 100%;
            margin-bottom: .5rem;
            @include media-breakpoint-up(lg) { margin-bottom: 0; }
            &:last-of-type { margin-bottom: 0; }
        }
        //formato default:
        figure { 
            padding-bottom: 60%;
        }

    }

    .estampa {
        figure {
            height: 100vw;
            width: 100vw;
            @include media-breakpoint-up(lg) {
                height: 50vh;
                width: 100vw;
            }
        }
    }

    .carrossel {
        &:hover {
            cursor: -webkit-grab;
            cursor: grab;
        }
        .owl-stage-outer {
            overflow: visible !important;
            overflow-y: hidden;
            &:active {
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }
            .owl-stage {
                overflow: visible !important;
                overflow-y: hidden;
                .owl-item:not(.active) {
                }
            }
        }
        .owl-dot {
            span {
                background-color: transparent;
                border: 1px solid $azul;
                &:hover {
                    background-color: $azul;
                }
            }
            &.active {
                span {
                    background-color: $azul;
                }
            }
        }
    }

    .img-subtitulo-paragrafo {
        img {
            margin-bottom: $component-mobile-margin-bottom;
            @include media-breakpoint-up(lg) { margin-bottom: 0; }
        }
        .subtitulo { text-align: left; }
    }

    .fonte {
        .subtitulo {
            text-align: center;
        }
        p {
            font-size: 3rem;
            line-height: 4rem;
            outline: none;
            caret-color: $azul;
            height: 14rem;
            overflow-y: scroll;
            border: 1px solid transparent;
            border-radius: .125rem;
            padding-left: 1rem;
            padding-right: 1rem;
            transition: border .1s linear;
            &:focus {
                border: 1px solid $azul;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $azul;
            }
        }
    }

    .no-margin-bottom {
        padding-bottom: .5rem;
        &:last-child {
            padding-bottom: $component-mobile-margin-bottom;
            @include media-breakpoint-up(lg) {
                padding-bottom: $component-desktop-margin-bottom;
            }
        }
    }

    .fundo-colorido, .comentario {
        padding-top: $component-mobile-margin-bottom;
        @include media-breakpoint-up(lg) {
            padding-top: $component-desktop-margin-bottom;
        }
        & + :not(.fundo-colorido), & + :not(.comentario) {
            padding-top: $component-mobile-margin-bottom;
            @include media-breakpoint-up(lg) {
                padding-top: $component-desktop-margin-bottom;
            }
        }
        & + .fundo-colorido, & + .comentario {
            padding-top: 0;
            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }
        }
        h1, h2, h3, h4, h5, h6, p, figcaption, blockquote {
            color: $branco;
        }
    }
}

#projetos-relacionados {
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    background-color: $cinza-claro;
    .titulo {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .conteudo {
        .titulo {
            margin-bottom: 0;
        }
    }
}